<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>登陆界面</title>
</head>
<body>
    <div class="login">
        <div class="login_list">
            <ul>
                <li class="current">教师登录</li>
                <li>学生登陆</li>
            </ul>
        </div>
        <div class="login_form">
            <div id="teacher" style="display: block" class="item">
                <div style="padding: 5px; text-align: center">教师登录</div>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    <input style="display: none" value="教师登录" name="mode">
                    <div class="input">
                        <label>学校：</label>
                        <select>
                            <option>苏州大学</option>
                            <option>吉林大学</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="username">工号：</label>
                        <input type="text" class="form-control" placeholder="工号" name="stuffnum">
                        <div style="color: red">{{ form.stuffnum.errors.0 }}</div>
                    </div>
                    <div class="input">
                        <label for="password">密码：</label>
                        <input type="password" class="form-control" placeholder="密码" name="password">
                        <div style="color: red">{{ form.password.errors.0 }}</div>
                    </div>
                        <div style="text-align: center">如忘记密码，请联系系统管理员。</div>
                    <div style="text-align: center; padding: 10px">
                        <button type="submit" name="submitBtn" id="submitBtn">登录</button>
                    </div>
                </form>
            </div>
            <div id="student" style="display: none" class="item">
                <div style="padding: 5px; text-align: center">学生登录</div>
                <form action="" method="post">
                    {% csrf_token %}
                    <input style="display: none" value="学生登录" name="mode">
                    <div class="input">
                        <label>学校：</label>
                        <select>
                            <option>苏州大学</option>
                            <option>吉林大学</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="stunum">学号：</label>
                        <input type="text" class="form-control" id="stunum" placeholder="学号" name="stunum">
                        <div style="color: red">{{ form.stunum.errors.0 }}</div>
                    </div>
                    <div class="input">
                        <label for="password">密码：</label>
                        <input type="password" class="form-control" id="password" placeholder="密码" name="password">
                        <div style="color: red">{{ form.password.errors.0 }}</div>
                    </div>
                    <div style="text-align: center">如忘记密码，请联系系统管理员。</div>
                    <div style="text-align: center; padding: 10px">
                        <button type="submit" name="submitBtn" id="submitBtn">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../static/lib/jquery-3.5.1/jquery-3.5.1.js"></script>
    <script>
       $(function(){
         $(".login_list li").click(function(){
             $(".login_list li").removeClass("current");
             $(this).addClass("current");

            let index = $(this).index();
            if (index == 0){
                $("#teacher").show()
                $("#student").hide()
            }else if(index == 1){
                $("#teacher").hide()
                $("#student").show()
            }
            });
     });
    </script>
</body>
</html>