<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>注册界面</title>
</head>
<body>
    <div class="login">
        <div class="login_list">
            <ul>
                <li class="current">学生注册</li>
            </ul>
        </div>
        <div class="login_form">
            <div id="student" style="display: block" class="item">
                <div style="padding: 5px; text-align: center">学生注册</div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="input">
                        <label>选择学校：</label>
                        <select name="school">
                            <option value="1">测试学校1</option>
                            <option value="2">测试学校2</option>
                        </select>
                        <div style="color: red">{{ form.school.errors.0 }}</div>
                    </div>
                    <div class="input">
                        <label>选择班级：</label>
                        <select name="classnum">
                            <option value="1">测试班级1</option>
                            <option value="2">测试班级2</option>
                        </select>
                        <div style="color: red">{{ form.classnum.errors.0 }}</div>
                    </div>
                    <div class="input">
                        <label for="stunum">输入学号：</label>
                        <input type="text" class="form-control" id="stunum" placeholder="学号" name="stunum">
                        <div style="color: red">{{ form.stunum.errors.0 }}</div>
                    </div>
                    <div class="input">
                        <label for="name">输入姓名：</label>
                        <input type="text" class="form-control" id="name" placeholder="姓名" name="name">
                        <div style="color: red">{{ form.name.errors.0 }}</div>
                    </div>
                    <div class="input">
                        <label for="password">输入密码：</label>
                        <input type="password" class="form-control" id="password" placeholder="密码" name="password">
                        <div style="color: red">{{ form.password.errors.0 }}</div>
                    </div>
                    <div class="input">
                        <label for="confirm-password">确认密码：</label>
                        <input type="password" class="form-control" id="confirm_password" placeholder="确认密码" name="confirm_password">
                        <div style="color: red">{{ form.confirm_password.errors.0 }}</div>
                    </div>
                    <div class="input">
                        <div style="text-align: center; padding: 10px">
                            <button type="submit" name="submitBtn" id="submitBtn">注册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../static/lib/jquery-3.5.1/jquery-3.5.1.js"></script>
</body>
</html>