<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/manage.css">
</head>
<body>
    <div class="header">
        <img src="../static/img/header.jpg">
        <span>学生系统</span>
    </div>
    <img src="../static/img/StudentRight.gif">
    <ul class="list">
        <li>
            <div class="li_name">个人信息</div>
            <ul class="li_body">
                <li id="xgxx">修改信息</li>
                <li id="ckxx">查看信息</li>
                <li><a href="/logout/" onclick="return confirm('是否退出？')">退出登录</a></li>
            </ul>
        </li>
        <li>
            <div class="li_name">题库</div>
            <ul class="li_body">
                <li id="tmlb">题目列表</li>
            </ul>
        </li>
        <li>
            <div class="li_name">班级</div>
            <ul class="li_body">
                <li id="tjbj">班级列表</li>
            </ul>
        </li>
        <li>
            <div class="li_name">考试</div>
            <ul class="li_body">
                <li id="kslb">考试列表</li>
            </ul>
        </li>
    </ul>
    <iframe src="/student/examList/" class="content"></iframe>
    <script src="../static/js/student.js"></script>
</body>
</html>