<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span>添加班级</span>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label>{{ field.label }}:</label>
                {% if field.name == 'teacher' %}
                    <input readonly type="number" name="teacher" required="" id="id_teacher" value="{{ stuffnum }}">
                {% else %}
                    {{ field }}
                {% endif %}
                {{ field.errors.0 }}
            </div>
        {% endfor %}
        <input id="submit" type="submit" value="保存">
    </form>
        <a href="/teacher/classList/"><button>返回</button></a>
</body>
</html>