<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input id="addExam" type="button" value="添加考试">
    <table border="1">
        <thead>
        <tr>
            <th>考试编号</th>
            <th>考试名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
        <tr>
            <td>E{{ obj.id }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.sttime }}</td>
            <td>{{ obj.endtime }}</td>
            <td>
                <a href="/teacher/{{ obj.id }}/deleteExam/"><button>删除</button></a>
                <a href="/teacher/{{ obj.id }}/editExam/"><button>修改</button></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <span id="test">测试标签</span>
    <script>
        document.querySelector('#addExam').addEventListener('click', function () {
            parent.document.querySelector('.content').src="/teacher/addExam/";
        })
    </script>
</body>
</html>