<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/manage.css">
    <link rel="stylesheet" href="../static/lib/bootstrap-5.2.2-dist/css/bootstrap.css">
</head>
<body>
    <div class="header">
        <img src="../static/img/header.jpg">
    </div>
    <img src="../static/img/StudentRight.gif">
    <ul class="list">
        <li>
            <div class="li_name">个人信息</div>
            <ul class="li_body">
                <li>修改信息</li>
            </ul>
        </li>
        <li>
            <div class="li_name">题库管理</div>
            <ul class="li_body">
                <li>添加题库</li>
            </ul>
        </li>
        <li>
            <div class="li_name">班级管理</div>
            <ul class="li_body">
                <li>添加班级</li>
            </ul>
        </li>
        <li>
            <div class="li_name">考试管理</div>
            <ul class="li_body">
                <li>添加考试</li>
            </ul>
        </li>
    </ul>
    <div class="manage">

    </div>
    <script src="../static/js/manage.js"></script>
</body>
</html>